DATABASE_URL=postgresql://postgres:LpLfZctUwJhUYtroDAqOIvNErYRwqcIl@postgres.railway.internal:5432/railway
PORT=4000
JWT_SECRET=e46b1ff310ab61c5b006af5ff16adfef0695311a97b50f359e5b1ea2d99fd437d3e06fe34ff031aec7066d6e5ff89f3924f3cad0a9c1be36b8516f467bdc377e
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dusinnocent57@gmail.com
SMTP_PASS=123456
ADMIN_EMAIL=admin@ikimina.com
ADMIN_PASSWORD=admin123